In [1]:
import pandas as pd
import matplotlib.pylab as plt
filename = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df = pd.read_csv(filename, names = headers)

In [3]:
df.head()
#jm=cm+1
#print (jm)
#df.rename(columns={'a':'b'})

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [9]:
import numpy as np

# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [18]:
missing_data = df.isnull()
missing_data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [19]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

symboling
False    205
Name: symboling, dtype: int64

normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64

make
False    205
Name: make, dtype: int64

fuel-type
False    205
Name: fuel-type, dtype: int64

aspiration
False    205
Name: aspiration, dtype: int64

num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64

body-style
False    205
Name: body-style, dtype: int64

drive-wheels
False    205
Name: drive-wheels, dtype: int64

engine-location
False    205
Name: engine-location, dtype: int64

wheel-base
False    205
Name: wheel-base, dtype: int64

length
False    205
Name: length, dtype: int64

width
False    205
Name: width, dtype: int64

height
False    205
Name: height, dtype: int64

curb-weight
False    205
Name: curb-weight, dtype: int64

engine-type
False    205
Name: engine-type, dtype: int64

num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64

engine-size
False    205
Name: engine-size, dtype: int64

fuel-system
False    205
Name: fuel-system, dtype: int64

bore
False    201
True       4
Name: bore, dtype: int64

stroke
False    201
True       4
Name: stroke, dtype: int64

compression-ratio
False    205
Name: compression-ratio, dtype: int64

horsepower
False    203
True       2
Name: horsepower, dtype: int64

peak-rpm
False    203
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    205
Name: city-mpg, dtype: int64

highway-mpg
False    205
Name: highway-mpg, dtype: int64

price
False    201
True       4
Name: price, dtype: int64

In [20]:
#Calculate the average of the column

avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)    
    
#Replace "NaN" by mean value in "normalized-losses" column

df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

Average of normalized-losses: 122.0

In [21]:
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

Average of normalized-losses: 122.0

In [22]:
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

In [23]:
avg_bore=df['bore'].astype('float').mean(axis=0)
print("Average of bore:", avg_bore)

Average of bore: 3.3297512437810943

In [24]:
df["bore"].replace(np.nan, avg_bore, inplace=True)

In [25]:
avg_stroke = df["stroke"].astype("float").mean(axis = 0)
print("Average of stroke:", avg_stroke)

Average of stroke: 3.255422885572139

In [26]:
# transform mpg to L/100km by mathematical operation (235 divided by mpg)
df["highway-mpg"] = 235/df["highway-mpg"]

# rename column name from "highway-mpg" to "highway-L/100km"
df.rename(columns={'highway-mpg':'highway-L/100km'}, inplace=True)

# check your transformed data 
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-L/100km,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,8.703704,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,8.703704,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,9.038462,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,7.833333,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,10.681818,17450

In [27]:
df['height'] = df['height']/df['height'].max() 
df[["length","width","height"]].head()

   length  width    height
0   168.8   64.1  0.816054
1   168.8   64.1  0.816054
2   171.2   65.5  0.876254
3   176.6   66.2  0.908027
4   176.6   66.4  0.908027

In [28]:
dummy_variable_2 = pd.get_dummies(df['aspiration'])
dummy_variable_2.rename(columns={'std':'aspiration-std', 'turbo': 'aspiration-turbo'}, inplace=True)
dummy_variable_2.head()

   aspiration-std  aspiration-turbo
0               1                 0
1               1                 0
2               1                 0
3               1                 0
4               1                 0

In [29]:
df = pd.concat([df, dummy_variable_2], axis=1)
df.drop('aspiration', axis = 1, inplace=True)

MODULO 3  ANALISIS CON PHYTON

In [30]:
df.describe()     #describe que caracteres esta en la columna y saca un resumen de las variables

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-L/100km,aspiration-std,aspiration-turbo
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,0.898409,2555.565854,126.907317,10.142537,25.219512,8.034347,0.819512,0.180488
std,1.245307,6.021776,12.337289,2.145204,0.040862,520.680204,41.642693,3.972040,6.542142,1.849782,0.385535,0.385535
min,-2.000000,86.600000,141.100000,60.300000,0.799331,1488.000000,61.000000,7.000000,13.000000,4.351852,0.000000,0.000000
25%,0.000000,94.500000,166.300000,64.100000,0.869565,2145.000000,97.000000,8.600000,19.000000,6.911765,1.000000,0.000000
50%,1.000000,97.000000,173.200000,65.500000,0.904682,2414.000000,120.000000,9.000000,24.000000,7.833333,1.000000,0.000000
75%,2.000000,102.400000,183.100000,66.900000,0.928094,2935.000000,141.000000,9.400000,30.000000,9.400000,1.000000,0.000000
max,3.000000,120.900000,208.100000,72.300000,1.000000,4066.000000,326.000000,23.000000,49.000000,14.687500,1.000000,1.000000

In [15]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [32]:
print(df.dtypes)

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-L/100km      float64
price                 object
aspiration-std         uint8
aspiration-turbo       uint8
dtype: object

In [33]:
df['peak-rpm'].dtypes

dtype('O')

In [34]:
df.corr()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-L/100km,aspiration-std,aspiration-turbo
symboling,1.000000,-0.531954,-0.357612,-0.232919,-0.541038,-0.227691,-0.105790,-0.178515,-0.035823,-0.030190,0.059866,-0.059866
wheel-base,-0.531954,1.000000,0.874587,0.795144,0.589435,0.776386,0.569329,0.249786,-0.470414,0.578128,-0.257611,0.257611
length,-0.357612,0.874587,1.000000,0.841118,0.491029,0.877728,0.683360,0.158414,-0.670909,0.711597,-0.234539,0.234539
width,-0.232919,0.795144,0.841118,1.000000,0.279210,0.867032,0.735433,0.181129,-0.642704,0.728044,-0.300567,0.300567
height,-0.541038,0.589435,0.491029,0.279210,1.000000,0.295572,0.067149,0.261214,-0.048640,0.085892,-0.087311,0.087311
curb-weight,-0.227691,0.776386,0.877728,0.867032,0.295572,1.000000,0.850594,0.151362,-0.757414,0.836742,-0.324902,0.324902
engine-size,-0.105790,0.569329,0.683360,0.735433,0.067149,0.850594,1.000000,0.028971,-0.653658,0.777077,-0.108217,0.108217
compression-ratio,-0.178515,0.249786,0.158414,0.181129,0.261214,0.151362,0.028971,1.000000,0.324701,-0.223411,-0.295541,0.295541
city-mpg,-0.035823,-0.470414,-0.670909,-0.642704,-0.048640,-0.757414,-0.653658,0.324701,1.000000,-0.908439,0.202362,-0.202362
highway-L/100km,-0.030190,0.578128,0.711597,0.728044,0.085892,0.836742,0.777077,-0.223411,-0.908439,1.000000,-0.225795,0.225795
aspiration-std,0.059866,-0.257611,-0.234539,-0.300567,-0.087311,-0.324902,-0.108217,-0.295541,0.202362,-0.225795,1.000000,-1.000000
aspiration-turbo,-0.059866,0.257611,0.234539,0.300567,0.087311,0.324902,0.108217,0.295541,-0.202362,0.225795,-1.000000,1.000000

In [35]:
df[['bore', 'stroke', 'compression-ratio', 'horsepower']].corr()

                   compression-ratio
compression-ratio                1.0

In [37]:
df[["engine-size", "price"]].corr()

             engine-size
engine-size          1.0

In [42]:
df[["stroke","price"]].corr()

Empty DataFrame
Columns: []
Index: []

In [44]:
df.describe(include=['object'])

,normalized-losses,make,fuel-type,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system,bore,stroke,horsepower,peak-rpm,price
count,205.0,205,205,203,205,205,205,205,205,205,205,201,203,203,201
unique,52.0,22,2,2,5,3,2,7,7,8,39,36,59,23,186
top,122.0,toyota,gas,four,sedan,fwd,front,ohc,four,mpfi,3.62,3.40,68,5500,8921
freq,41.0,32,185,114,96,120,202,148,159,94,23,20,19,37,2

In [45]:
df['drive-wheels'].value_counts()

fwd    120
rwd     76
4wd      9
Name: drive-wheels, dtype: int64

In [46]:
df['drive-wheels'].value_counts().to_frame()

     drive-wheels
fwd           120
rwd            76
4wd             9

In [47]:
df['drive-wheels'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [48]:
df_group_one = df[['drive-wheels','body-style','price']]

In [49]:
df_gptest2 = df[['body-style','price']]
grouped_test_bodystyle = df_gptest2.groupby(['body-style'],as_index= False).mean()
grouped_test_bodystyle

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  exec(code_obj, self.user_global_ns, self.user_ns)

    body-style
0  convertible
1      hardtop
2    hatchback
3        sedan
4        wagon

In [50]:
import matplotlib.pyplot as plt
%matplotlib inline

In [52]:
df.corr()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-L/100km,aspiration-std,aspiration-turbo
symboling,1.000000,-0.531954,-0.357612,-0.232919,-0.541038,-0.227691,-0.105790,-0.178515,-0.035823,-0.030190,0.059866,-0.059866
wheel-base,-0.531954,1.000000,0.874587,0.795144,0.589435,0.776386,0.569329,0.249786,-0.470414,0.578128,-0.257611,0.257611
length,-0.357612,0.874587,1.000000,0.841118,0.491029,0.877728,0.683360,0.158414,-0.670909,0.711597,-0.234539,0.234539
width,-0.232919,0.795144,0.841118,1.000000,0.279210,0.867032,0.735433,0.181129,-0.642704,0.728044,-0.300567,0.300567
height,-0.541038,0.589435,0.491029,0.279210,1.000000,0.295572,0.067149,0.261214,-0.048640,0.085892,-0.087311,0.087311
curb-weight,-0.227691,0.776386,0.877728,0.867032,0.295572,1.000000,0.850594,0.151362,-0.757414,0.836742,-0.324902,0.324902
engine-size,-0.105790,0.569329,0.683360,0.735433,0.067149,0.850594,1.000000,0.028971,-0.653658,0.777077,-0.108217,0.108217
compression-ratio,-0.178515,0.249786,0.158414,0.181129,0.261214,0.151362,0.028971,1.000000,0.324701,-0.223411,-0.295541,0.295541
city-mpg,-0.035823,-0.470414,-0.670909,-0.642704,-0.048640,-0.757414,-0.653658,0.324701,1.000000,-0.908439,0.202362,-0.202362
highway-L/100km,-0.030190,0.578128,0.711597,0.728044,0.085892,0.836742,0.777077,-0.223411,-0.908439,1.000000,-0.225795,0.225795
aspiration-std,0.059866,-0.257611,-0.234539,-0.300567,-0.087311,-0.324902,-0.108217,-0.295541,0.202362,-0.225795,1.000000,-1.000000
aspiration-turbo,-0.059866,0.257611,0.234539,0.300567,0.087311,0.324902,0.108217,0.295541,-0.202362,0.225795,-1.000000,1.000000

In [53]:
from scipy import stats